<nav id="nav">
  <ul>
    <li><a href="{{ site.baseurl }}/TKTKTK" class="ss-nav-donate-button"><i class="fa fa-credit-card"></i>&nbsp; Donate</a></li>
    <li class="ss-nav-divider"></li>
    <li>
      <a href="">Programs <i class="fa fa-chevron-down ss-nav-icon-small"></i></a>
      <ul>
        <li><a href="{{ site.baseurl }}/TKTKTK">Athletics</a></li>
        <li><a href="{{ site.baseurl }}/TKTKTK">Empowerment Training</a></li>
        <li><a href="{{ site.baseurl }}/TKTKTK">Girls' Clubs</a></li>
        <li><a href="{{ site.baseurl }}/TKTKTK">Nursery Schools</a></li>
        <li><a href="{{ site.baseurl }}/TKTKTK">Operation My People Scholarship</a></li>
        <li><a href="{{ site.baseurl }}/TKTKTK">Reproductive Health</a></li>
        <li><a href="{{ site.baseurl }}/TKTKTK">Women's Groups</a></li>
        <li><a href="{{ site.baseurl }}/TKTKTK">Women's Stories</a></li>
      </ul>
    </li>
    <li>
      <a href="">Partners <i class="fa fa-chevron-down ss-nav-icon-small"></i></a>
      <ul>
        <li><a href="{{ site.baseurl }}/TKTKTK">Nyisango Women</a></li>
        <li><a href="{{ site.baseurl }}/TKTKTK">Sanja Women</a></li>
        <li><a href="{{ site.baseurl }}/TKTKTK">Empowerment Institute</a></li>
      </ul>
    </li>
    <li><a href="{{ site.baseurl }}/blog">Newsletter</a></li>
    <li><a href="{{ site.baseurl }}/TKTKTK">About</a></li>
    <li><a href="{{ site.baseurl }}/TKTKTK">Contact</a></li>
  </ul>
</nav>
